attrs==21.4.0
bcrypt==3.2.2
boto==2.49.0
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
colander==1.8.3
colorama==0.4.4
cornice==6.0.1
cornice-swagger==1.0.1
dockerflow==2022.1.0
hupper==1.10.3
idna==3.3
iso8601==1.0.2
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.6.0
kinto==14.7.2
logging-color-formatter==1.0.2
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pycparser==2.21
pyramid==2.0
pyramid-multiauth==1.0.1
pyramid-storage==1.0.0
pyramid-tm==2.5
pyrsistent==0.18.1
python-dateutil==2.8.2
requests==2.27.1
simplejson==3.17.6
six==1.16.0
transaction==3.0.1
translationstring==1.4
ujson==5.3.0
urllib3==1.26.9
venusian==3.0.0
waitress==2.1.2
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.4.0
