attrs==20.3.0
bcrypt==3.2.0
boto==2.49.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
colander==1.8.3
colorama==0.4.4
cornice==5.1.0
cornice-swagger==1.0.0
dockerflow==2020.10.0
hupper==1.10.2
idna==2.10
iso8601==0.1.14
jsonpatch==1.31
jsonpointer==2.0
jsonschema==3.2.0
kinto==13.6.6
logging-color-formatter==1.0.2
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pycparser==2.20
pyramid==1.10.7
pyramid-multiauth==0.9.0
pyramid-storage==0.3.1
pyramid-tm==2.4
pyrsistent==0.17.3
python-dateutil==2.8.1
requests==2.25.1
simplejson==3.17.2
six==1.15.0
transaction==3.0.1
translationstring==1.4
ujson==4.0.2
urllib3==1.26.3
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
zope.deprecation==4.4.0
zope.interface==5.2.0
